BHASHINI_API_KEY=
BHASHINI_USER_ID=
DATABASE_URL=
MAPPLS_API_KEY=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_BHASHINI_API_KEY=
NEXT_PUBLIC_MAPPLS_API_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SBERT_SERVICE_URL=